$primary: #0d1f5f;
$secondary: #3be5bf;
$active: #334585;
$mainBg: #f4f7fa;
$borderColor: #e7e9eb;

.card{
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 8px 16px #0000000A;
}